@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.logo_menubar {
    margin: 87px 120px 50px 120px;
}

.logo_menubar_content {
    display: flex;
    justify-content: space-between;
}

.company_name {
    margin: 0px;
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.menu_ul {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    gap: 34px;
    list-style: none;
}

.menu_ul a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

/* End Menubar design */

.heading {
    display: flex;
    justify-content: space-between;
    margin: 87px 120px 100px 120px;
    align-items: center;
}

.heading_content {}

.heading_title {
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 585px;
    margin-bottom: 16px;
}

.heading_des {
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 510px;
    margin-bottom: 26px;
}

.btn {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    background: rgba(224, 44, 109, 1);
    border-radius: 41px;
    padding: 10px;
}

.main_camera {}

.main_camera img {
    padding: 30px;
    background-image: url('/images/Circle\ design.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 475px;
    height: 475px;
}

/* End Heading Design */
.icons_logos {
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 40px;
    margin-bottom: 100px;
}

/* End design Icons Logos */
.collection {
    margin: 87px 120px 100px 120px;
}

.popular_collection {
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.sala {
    height: 1420px;
}

.collection_item {
    width: 329px;
    height: 476px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;

}

.single_collection {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    padding: 17px;
}

.single_collection img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 16px;
}

.single_collection h3 {
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}

.single_collection h4 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 6px;
}

.single_collection p {
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
    text-align: left;
    color: gray;
}

.collection_btn {
    text-align: right;
    margin-right: 300px;
}

/* End Collection design */
.features {
    margin: 50px 410px 100px 410px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.features_img {
    width: 404px;
    height: 270px;
}

.features_img img {
    border-radius: 8px;
}

.features_content {
    width: 650px;
}

.features_content h1 {
    color: rgba(10, 8, 38, 1);
    font-family: Poppins;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.features_content p {
    color: rgba(108, 108, 108, 1);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
}

/* Design Footer */
.footer_full {
    background-color: rgba(10, 8, 38, 1);
    padding: 20px; 
}

.footer_all_content {
    text-align: center;
    padding: 50px;  
}

.footer_all_content h3 {
    color: rgb(255, 248, 248);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 7px;
}

.footer_all_content p {
    color: rgb(255, 248, 248);
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}